header{
    padding: 0 50px;
    @include tablet{
        padding: 0;
    }
    #nav{
        justify-content: space-between;
        align-items: center;
        row-gap: 40px;
        gap: 3rem;
        @include tablet{
            justify-content: center;
            padding: 20px;
            flex-wrap: wrap;
        }
        img{
            @include tablet{
                width: 150px;
            }
        }
        li:last-child{
            
            flex-shrink: 0;
        }
        li:nth-child(1){
            @include tablet{
                order:2;
                
            }
        }
        li:nth-child(2){
            @include tablet{
                order:3;
            }
        }
        li:nth-child(3){
            @include tablet{
                order:2;
                h1{                 
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
        nav{
            ul{
                .checked{
                    background-color: #901C1C;
                    span{
                        color: white;
                    }
                }
            }
        }
    }
}
