@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
span, a, h1 {
  color: #901C1C;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  max-width: 1440px;
  margin: auto;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  main {
    row-gap: 2rem;
    padding: 20px;
  }
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.tag {
  cursor: pointer;
}

.list__tags {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .list__tags {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }
}
.list__tags .checked {
  background-color: #901C1C;
}
.list__tags .checked span {
  color: white;
}
.list__tags .tag {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  padding: 2px 10px;
}
.list__tags .tag:hover {
  background-color: #901C1C;
}
.list__tags .tag:hover span {
  color: white;
}
.list__tags a {
  text-decoration: unset;
}
.list__tags a:hover {
  color: white;
}

.base-color {
  color: #901C1C;
}

.second-color {
  color: black;
}

.base-color-light {
  color: #DB8876;
}

.second-color-light {
  color: #DB8876;
}

.no-scroll {
  overflow: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
}

span, a {
  font-family: "DM Sans", sans-serif;
}

.photograph-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 313px;
}
@media screen and (max-width: 768px) {
  .photograph-card__title {
    margin-bottom: 0;
  }
}
.photograph-card__link {
  text-decoration: unset;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photograph-card__img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
}
@media screen and (max-width: 768px) {
  .photograph-card__img {
    width: 100px;
    height: 100px;
  }
}
.photograph-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photograph-card p {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .photograph-card p {
    margin: 0;
  }
  .photograph-card p .base-color {
    font-size: 13px;
    line-height: 17px;
  }
  .photograph-card p .second-color {
    font-size: 10px;
    line-height: 13px;
  }
  .photograph-card p .second-color-light {
    font-size: 9px;
    line-height: 12px;
  }
}
.photograph-card p > * {
  display: block;
}

.media {
  width: 350px;
}
.media-cover {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .media-cover {
    height: 190px;
  }
}
.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.media-infos {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: #901C1C;
}
.media-infos * {
  margin: 0;
}
.media-title {
  font-size: 24px;
  line-height: 31px;
}
@media screen and (max-width: 768px) {
  .media-title {
    font-size: 14px;
    line-height: 18px;
  }
}
.media-likes {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .media-likes {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    gap: 8px;
  }
}
.media i {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #901C1C;
  cursor: pointer;
}

header {
  padding: 0 50px;
}
header #nav {
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  header #nav {
    padding: 20px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  header #nav img {
    width: 150px;
  }
}
header #nav li:last-child {
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  header #nav li:nth-child(1) {
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  header #nav li:nth-child(2) {
    order: 3;
  }
}
@media screen and (max-width: 768px) {
  header #nav li:nth-child(3) {
    order: 2;
  }
  header #nav li:nth-child(3) h1 {
    font-size: 14px;
    line-height: 18px;
  }
}
header #nav nav ul .checked {
  background-color: #901C1C;
}
header #nav nav ul .checked span {
  color: white;
}

.encart {
  width: 376px;
  height: 89px;
  position: fixed;
  background-color: #DB8876;
  bottom: 0;
  right: 35px;
}
@media screen and (max-width: 768px) {
  .encart {
    display: none;
  }
}
.encart-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}
.encart-container .likes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 15;
  padding: 5% 10%;
  top: 0;
  color: #901C1C;
  display: none;
  justify-content: center;
  align-items: center;
}
.lightbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .lightbox-container {
    gap: 10px;
    height: fit-content;
    max-height: 100%;
  }
}
.lightbox-container i {
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .lightbox-container i {
    font-size: 15px;
  }
}
.lightbox-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.lightbox-row i {
  cursor: pointer;
}
.lightbox-row .fa-times {
  position: absolute;
  top: 0;
}
.lightbox-image {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lightbox-image img {
  max-width: 100%;
  max-height: 100%;
}
.lightbox-image video {
  max-width: 100%;
  max-height: 100%;
}
.lightbox-image .image-title {
  width: 100%;
}
.lightbox-image .media-content {
  max-height: 100%;
}
.lightbox .image-title {
  font-size: 24px;
  line-height: 31px;
  margin: 0;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal--container {
  background-color: #DB8876;
  display: flex;
  flex-direction: column;
  width: 669px;
  height: 900px;
  position: relative;
  padding: 35px;
  overflow-y: scroll;
}
.modal--container .fa-times {
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}
.modal--container h1 {
  color: black;
  font-size: 64px;
  line-height: 83px;
  margin: 0;
}
.modal--container h1 span {
  color: black;
}
.modal--container form {
  display: flex;
  flex-direction: column;
}
.modal--container form label {
  font-size: 36px;
  line-height: 47px;
  color: #312E2E;
}
.modal--container form input {
  width: 100%;
  height: 68px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 21px;
}
.modal--container form input:focus {
  outline: none;
}
.modal--container form textarea {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 21px;
}
.modal--container form textarea:focus {
  outline: none;
}
.modal--container form .btn-submit {
  width: 170px;
  height: 69px;
  background: #911C1C;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-top: 26px;
  cursor: pointer;
}

#main-photograph {
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  #main-photograph {
    gap: 1rem;
  }
}

#photographAbout {
  display: flex;
  width: 100%;
  max-width: 1240px;
  justify-content: start;
  background: #FAFAFA;
  border-radius: 5px;
  gap: 4rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  #photographAbout {
    gap: 0;
    background: #fff;
  }
}
@media screen and (max-width: 768px) {
  #photographAbout > :first-child {
    width: 100%;
  }
}
#photographAbout > :first-child h1 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 83px;
}
@media screen and (max-width: 768px) {
  #photographAbout > :first-child h1 {
    font-size: 36px;
    line-height: 47px;
    padding-right: 100px;
  }
}
#photographAbout > :first-child .location {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #photographAbout > :first-child .location {
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 10px;
  }
}
#photographAbout > :first-child .baseline {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  #photographAbout > :first-child .baseline {
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 10px;
  }
}
#photographAbout > :first-child ul {
  margin: 0;
}
#photographAbout > :nth-child(2) .contactMe {
  padding: 20px 10px;
  background-color: #901C1C;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  #photographAbout > :nth-child(2) .contactMe {
    position: fixed;
    bottom: 28px;
    font-weight: bold;
    font-size: 18px;
    padding: 18px;
    line-height: 1;
    left: 50%;
    transform: translateX(-50%);
  }
}
#photographAbout > * {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#photographAbout > :last-child {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  #photographAbout > :last-child {
    position: absolute;
    right: 0;
    top: 0;
  }
}
#photographAbout .list__tags {
  justify-content: start;
}

#photographMedia {
  width: 100%;
  max-width: 1240px;
}
@media screen and (max-width: 768px) {
  #photographMedia .filter {
    display: none;
  }
}
#photographMedia .filter label {
  font-weight: 500;
}
#photographMedia .form__group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#photographMedia .custom-select {
  position: relative;
  z-index: 10;
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}
#photographMedia .custom-select select {
  display: none;
}
#photographMedia .custom-select .select-selected {
  padding: 20px 10px;
  background-color: #901C1C;
  border-radius: 5px;
  color: white;
  width: 150px;
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
}
#photographMedia .custom-select .select-selected:after {
  position: absolute;
  content: "\f078";
  font-family: "FontAwesome";
  top: 12px;
  right: 30px;
  width: 0;
  height: 0;
}
#photographMedia .custom-select .select-selected.select-arrow-active {
  border-radius: 5px 5px 0 0;
}
#photographMedia .custom-select .select-selected.select-arrow-active:after {
  transform: rotateX(180deg);
  top: 27px;
}
#photographMedia .custom-select .select-items div, #photographMedia .custom-select .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  cursor: pointer;
}
#photographMedia .custom-select .select-items {
  position: absolute;
  background-color: #901C1C;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
#photographMedia .custom-select .select-items div {
  border-top: 1px solid white;
  margin: 0 16px;
  padding: 8px 0;
}
#photographMedia .custom-select .select-hide {
  display: none;
}
#photographMedia .custom-select .select-items div:hover, #photographMedia .custom-select .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
#photographMedia .media-cover {
  cursor: pointer;
}
#photographMedia .media-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 0;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  #photographMedia .media-content {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
