.photograph-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 313px;
    &__title{
        @include tablet{
            margin-bottom: 0;
        }
    }
    &__link{
        text-decoration: unset;
        text-align: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__img{
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    p {
        text-align: center;
        @include tablet{
            .base-color{
                font-size: 13px;
                line-height: 17px;
            }
            .second-color{
                font-size: 10px;
                line-height: 13px;
            }
            .second-color-light{
                font-size: 9px;
                line-height: 12px;
            }
            margin: 0;
        }
        
        > *{
            display: block;
        }
    }
}
.media{
    width: 350px;
    &-cover{
        width: 100%;
        height: 300px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
    &-infos{
        display: flex;
        justify-content: space-between;
        padding:5px;
        color: $base-color;
        *{
            margin: 0;
        }
    }
    &-title{
        font-size: 24px;
        line-height: 31px;
    }
    &-likes{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    i{
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #901C1C;
        cursor: pointer;
    }
}